# Dépendances
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
build/

# Environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Cache
.cache/
.parcel-cache/
.nuxt/
.vite/
